

.notice-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notice-modal-content {
  background-color: #2c3038;
 

  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-height: 90%;
  overflow-y: auto;
}
.notice-modal-content hr{
  background-color: #d8000c;
  height: 4px;
  border: 0px;
}
.notice-modal-content h2{
  color:white;
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
  text-align: center;
}


.notice-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color:red;
  transition: color 0.3s ease;
}

.notice-close-btn:hover {
  color: #ff4d4f;
}

.notice-h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}


.notice-main{
  display: flex;
  flex-direction: row;

}
.notice-modal-left{
  flex: 1;
  padding: 2px;
  margin-right: 10px;
}
.notice-modal-right{
  flex: 1;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed #ddd; */
  border-radius: 30px;

}



.notice-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.notice-ul li {
  margin: 10px 0;

}

.notice-ul li button {
  background:#3a3f47;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  max-width:100%;
  transition: background 0.3s ease, transform 0.2s ease;

}

.notice-ul li button:hover {
  background: #454b54;
  color: white;
  transform: scale(1.01);
}

.notice-upload-section {
  margin-top: 20px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.notice-upload-section input {
  display: block;
  margin: 0 auto 15px;
  padding: 0;
  border: 2px dashed;
  border-color: #d8000c;
  border-radius: 10px;
  width: 80%;
  height: 200px;
  outline: none;
  cursor: pointer;
  /* background: #f9f9f9; */
  /* color: white; */
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  /* transition: background-color 0.3s ease; */
}

.notice-upload-section input::file-selector-button {
  display: none;
}

.notice-upload-section input:focus {
  border-color:red;
  outline: none;
  
}

.notice-upload-section input::before {
  content: "Click to upload";
  display: block;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
}


.notice-upload-section button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.notice-upload-section input{
  border-radius: 20px;

  border:2px dashed white;
  text-align: center;
  
}

.notice-upload-section button:disabled {
  background: #ddd;
  cursor: not-allowed;
  color: #2c3038;
}

.notice-upload-section button:not(:disabled):hover {
  background: #45a049;
}
.notice-error-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  /* backdrop-filter: blur(1px); Applies blur to the background */
  z-index: 9998; /* Slightly lower than the modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-error-modal {
  background: #3a3f47;
  padding: 10px;
  border-radius: 8px;
  color:white;
  font-size: 0.9rem;
  text-align: center;
  z-index: 9999; /* Higher than the backdrop */
  position: relative; /* Ensure stacking within the backdrop */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notice-pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.notice-pdf-modal-content {
  background: #ffffff;
  width: 95%;
  max-width: 800px;
  border-radius: 10px;
  height: 80%;
  position: relative;
  overflow: auto;

}

.notice-pdf-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: red;
  transition: color 0.3s ease;
  z-index: 2000;

}





@media  (max-width: 480px){

  .notice-main{
    flex-direction: column;
    
    
  }

  .notice-upload-section input{
    height: 40px;
  }
  .notice-modal-content {
    margin:0 10px
  }
}


