.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #cf1414;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .notices-list {
    list-style: none;
    padding: 0;
  }
  
  .notice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .pdf-link {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .upload-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .upload-label {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .upload-label:hover {
    background-color: #0056b3;
  }
  
  .file-input {
    display: none;
  }
  
  .file-input.file-selected + .upload-btn {
    margin-left: auto;
    animation: shiftRight 0.3s forwards;
  }
  
  .upload-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .upload-btn:hover {
    background-color: #218838;
  }
  
  .pdf-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }
  
  .pdf-modal-content {
    background-color: #ba1919;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .pdf-modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .error-modal {
    background-color: #ffdddd;
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  